{
    "baseParameters" : {
        "type" : "perlin",
        "seed" : 0,
        "octaves" : 3,
        "frequency" : 0.03,
        "amplitude" : 2,
        "bias" : -0.2,
        "alpha" : 2,
        "beta" : 2,
        "offset" : 1,
        "gain" : 2
    },
    "rarityParameters" : {
        "common" : {},
        "uncommon" : {
            "frequency" : 0.02,
            "bias" : -0.4
        },
        "rare" : {
            "frequency" : 0.01,
            "bias" : -0.8
        },
        "legendary" : {
            "frequency" : 0.005,
            "bias" : -1
        },
        "essential" : {
            "frequency" : 0.0025,
            "bias" : -1
        }
    }
}
